* {
  margin: auto;
  padding: 0;
  border: 0;
  text-align: center;
}
body{
  background-image: url(fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.titulo{
  color: white;
}
form{
  margin-top: 150px;
  width: 30%;
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
}
textarea{
  height: 60px;
  width: 250px;
  padding: 10px;
}
button{
  background:rgb(230,231,243);
  padding: 10px;
  box-shadow: -4px 4px 24px -10px rgba(97,97,97,1);
}